<h1>Подтверждение регистрации на сайте {{name}}</h1>
<p>Для подтверждения вашей почты перейдите по ссылке:</p>
<a href="{{url}}">Подтвердить почту</a>
<p style="margin-top: 10px; font-weight: 500;">Если вы не создавали аккаунт, то проигнорируйте это письмо</p>